In [1]:
import io
import re
import pandas as pd
import numpy as np
import string
from string import punctuation
from re import sub

In [2]:
trainData = pd.read_csv("trainingSet.csv")

In [3]:
testData = pd.read_csv("tweetsTest.csv")

In [4]:
trainData.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
#Clean Train Dataset

In [6]:
trainDataClean = pd.DataFrame(trainData)

In [7]:
trainDataClean.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
trainDataClean.shape[0]

31962

In [9]:
trainDataCl = []
i = 0
while i < trainDataClean.shape[0]:
    trainDataCl.append([trainDataClean.iloc[i,0], trainDataClean.iloc[i,1], trainDataClean.iloc[i,2]])
    i += 1

trainDataCleaned = pd.DataFrame(trainDataCl)

In [10]:
trainDataCleaned.head()

   0  1                                                  2
0  1  0   @user when a father is dysfunctional and is s...
1  2  0  @user @user thanks for #lyft credit i can't us...
2  3  0                                bihday your majesty
3  4  0  #model   i love u take with u all the time in ...
4  5  0             factsguide: society now    #motivation

In [12]:
trainDataCleaned.tail()

           0  1                                                  2
31957  31958  0  ate @user isz that youuu?ðððððð...
31958  31959  0    to see nina turner on the airwaves trying to...
31959  31960  0  listening to sad songs on a monday morning otw...
31960  31961  1  @user #sikh #temple vandalised in in #calgary,...
31961  31962  0                   thank you @user for you follow

In [13]:
#Clean Test Dataset

In [14]:
#testData.head()

In [15]:
# with open("tweetsTest.csv") as r:
    # readObj = csv.reader(r)
    # next(readObj) 
    # cleanTweetsTest = []
    # for row in readObj:
        # cleanTweetsTest.append(row)

In [16]:
#cleanTweetsTest

In [17]:
testDataClean = pd.DataFrame(testData)

In [18]:
testDataClean.shape[0]

17197

In [19]:
testDataCl = []
i = 0
while i < testDataClean.shape[0]:
    testDataCl.append([testDataClean.iloc[i,0], testDataClean.iloc[i,1]])
    i += 1

testDataCleaned = pd.DataFrame(testDataCl)

In [20]:
testDataCleaned.head()

       0                                                  1
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [21]:
testDataCleaned.tail()

           0                                                  1
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

In [22]:
#Data Preprocessing:
#Tweet -> Lowercase
#2 or more "." -> replace with space
#URL
#User mention

In [23]:
# tweet column extracted from Training Data.
# tweetTrain = trainDataCleaned[[2]]
# tweetTrain.head()

In [24]:
# tweetTrain.shape[0] # Checking the number of rows in the Tweet column

In [25]:
# print(tweetTrain.iloc[3,0]) # Prints 4th entry in the Tweet column

In [26]:
# Converting tweets to lower case
# tweetTrainList = []
# i = 0
# while i < tweetTrain.shape[0]:
#     tweetTrainList.append(tweetTrain.iloc[i,0].lower()) # Converts each tweet to lower case and adds the lower case tweet to the array that was initially empty.
#     i += 1
# tweetTrainV1 = pd.DataFrame(tweetTrainList)

In [27]:
# print(tweetTrainV1.shape[0])

In [28]:
# tweetTrainL1 = []
# i = 0
# while i < tweetTrainV1.shape[0]:
#     tweetTrainL1.append(tweetTrainV1.iloc[i,0]) # Adds each tweet to the array, following first modification.
#     i += 1
# tweetTrainL1a = []
# for element in tweetTrainL1: 
#     elem = re.sub(r'\.\.+',' ',element) # Substitutes 2+ dots w/ space
#     tweetTrainL1a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV2 = pd.DataFrame(tweetTrainL1a)

In [29]:
# print(tweetTrainV2.iloc[31961,0])

In [30]:
# 2+ dots in each training tweet replaced w/ space

In [31]:
# Replacing each URL in tweet training data w/ the word 'URL'.

In [32]:
# tweetTrainL2 = []
# i = 0
# while i < tweetTrainV2.shape[0]:
#     tweetTrainL2.append(tweetTrainV2.iloc[i,0]) # Adds each tweet to the array, following first two modifications.
#     i += 1
# tweetTrainL2a = []
# for element in tweetTrainL2:
#     elem = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',element) # Substitutes URLs w/ the term 'URL'
#     tweetTrainL2a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV3 = pd.DataFrame(tweetTrainL2a)

In [33]:
# print(tweetTrainV3.iloc[8484,0])

In [34]:
# Replacing each user mention in tweet training data with the term 'USE

In [35]:
# tweetTrainL3 = []
# i = 0
# while i < tweetTrainV3.shape[0]:
#     tweetTrainL3.append(tweetTrainV3.iloc[i,0]) # Adds each tweet to the array, following first three modifications.
#     i += 1
# tweetTrainL3a = []
# for element in tweetTrainL3:
#     elem = re.sub(r'@[\S]+','USER_MENTION',element) # Substitutes user mentions w/ the term 'USER_MENTION'
#     tweetTrainL3a.append(elem) # Adds each modified tweet to the array.

# tweetTrainV4 = pd.DataFrame(tweetTrainL3a)

In [36]:
# print(tweetTrainV4.iloc[8695,0])

In [37]:
# print(tweetTrainV4.iloc[8660,0])

In [38]:
# df1 = pd.read_fwf(io.StringIO(tweetString), colspecs='infer', widths=

In [39]:
#Strip spaces and quotes ("" and '') from the ends of tweet.

In [40]:
tweetString = trainData.tweet.to_string()

In [41]:
# def wordProcessing(a):
#     a = re.sub(' +', ' ', a) #reduces 2 or more spaces into one space
#     a = a.strip(' "\'') #removes quotes from the ends
#     a = re.sub(r'#',"",a) #removes hash-symbol from hashtag
#     a = re.sub(r'RT',"\b",a)#removes RT from retweets
#     a = re.sub(r'-',"",a) #removes -
#     a = re.sub(r'\'',"",a) #removes ' 
#     return a
#     if a is None:
#         a = str

In [42]:
#Classifying emojis as positve or negative

In [43]:
def emojiHandler(a):
    a = re.sub(r'(:\s?\)|:-\)|\(\s?:|\(-:|:\'\))', 'EMO_POS', a) #Smile-emoji
    a = re.sub(r'(:\s?D|:-D|x-?D|X-?D)', 'EMO_POS', a) #Laugh-emoji
    a = re.sub(r'(<3|:\*)' ,'EMO_POS', a) #Love-emoji
    a = re.sub(r'(;-?\)|;-?D|\(-?;)' ,'EMO_POS', a) #Wink-emoji
    a = re.sub(r'(:\s?\(|:-\(|\)\s?:|\)-:)' ,'EMO_NEG', a) #Sad-emoji
    a = re.sub(r'(:,\(|:\'\(|:"\()' ,'EMO_NEG', a) #Cry-emoji
    return a

In [44]:
def removePunctuation(s):
    translator = str.maketrans('', '', sub('\_', '', punctuation))
    return s.translate(translator)
    return repeatWords.sub(r"\1\1", s)

In [45]:
def removeExtraWords(s):
    repeatWords = re.compile(r"(.)\1{2,}", re.DOTALL) 
    return repeatWords.sub(r"\1\1", s)

In [46]:
#word-Validity
range = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
def wordValidity(s):
    wordList = re.sub("[^\w]", " ",  s).split()
    length = len(wordList)
    i = 0
    newWordList = []
#     print(i) 
    while i < length:
        if wordList[i][0] in range:
            newWordList.append(wordList[i])
        i += 1
    return ' '.join(newWordList)

In [47]:
# Extract tweet column.
# Create a list containing the tweets.
# Create a new list that will contain the modified tweets (following pre processing steps).
# Execute all necessary pre processing steps to each tweet; add each modified tweet to the new list created in the previous step.
# Cast this new list with the modified tweets to a DataFrame and save the DataFrame to a variable.

In [48]:
def allPreprocessingSteps(a):
    a = a.lower()
    a = re.sub(r'\.\.+',' ',a)
    a = a.strip('  \'') #removes spaces from the ends 
    a = a.strip(' "\'') #removes quotes from the ends
    a = re.sub(' +', ' ', a) #reduces 2 or more spaces into one space
    a = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',a)
    a = re.sub(r'@[\S]+','USER_MENTION',a)
    a = emojiHandler(a)
    a = re.sub(r'#',"",a) #removes hash-symbol from hashtag
    a = re.sub(r'RT ','',a)#removes RT from retweets
    a = removePunctuation(a) 
    a = removeExtraWords(a)
    a = wordValidity(a)    
    return a

In [49]:
def preProcessingTweets(column):
    tweetTrain = column

    tweetTrainList = []
    i = 0
    while i < tweetTrain.shape[0]:
        tweetTrainList.append(tweetTrain.iloc[i,0]) 
        i += 1
    tweetTrainL1a = []
    for element in tweetTrainList: 
        elem = allPreprocessingSteps(element)
        tweetTrainL1a.append(elem) 

    tweetTrainMod = pd.DataFrame(tweetTrainL1a)
    
    return tweetTrainMod

In [50]:
# def otherModifications(a):
#     a = a.lower()
#     a = re.sub(r'\.\.+',' ',a)
#     a = re.sub(r'((www\.[\S]+)|(https?://[\S]+))','URL',a)
#     a = re.sub(r'@[\S]+','USER_MENTION',a)
#     return a

In [51]:
# a = "Heloo. this test.."
# otherModifications(a)

In [52]:
tweetTrainMod = preProcessingTweets(trainDataCleaned[[2]])

In [53]:
tweetTestMod = preProcessingTweets(testDataCleaned[[1]])

In [55]:
pd.set_option('max_colwidth', 10000000000000000000000000000000000000000000000000000000)

In [56]:
# testTweets = testDataCleaned[[1]]

In [57]:
#Write a function to convert all the data into CSV files.

In [58]:
dfTrainPp1 = trainDataCleaned[[0,1]]
tweetTrainProc = pd.concat([dfTrainPp1, tweetTrainMod], axis=1)

In [59]:
dfTestPp1 = testDataCleaned[[0]]
tweetTestProc = pd.concat([dfTestPp1, tweetTestMod], axis=1)

In [60]:
# Converting clean and processed DataFrames to CSV files.

tweetTrainProc.to_csv('train_processed.csv')

In [61]:
tweetTestProc.to_csv('test_processed.csv')